* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-size: 15px;
}
html {
  margin: 0;
  padding: 0;
  background-color: #dedede;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
.layar-dalam {
  width: 1000px;
  margin: auto;
}
.layar-penuh {
    width: 100%;
}
nav {
  z-index: 100;
  color: #fff;
  text-align: center;
  position: fixed;
  border-bottom: 1px solid #b1b1b1;
  line-height: 60px;
  width: 100%;
  transition: background-color 0.5s ease;
}
nav.putih {
  background-color: #fff;
}
nav .logo {
  float: left;
  position: relative;
  line-height: 55px;
  text-align: center;
}
nav .logo img {
  vertical-align: middle;
  width: 50px;
}

nav .menu {
  float: right;
  height: 60px;
  max-width: 600px;
}

nav .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav .menu ul li {
  list-style-type: none;
  float: left;
  line-height: 60px;
}

nav ul li a {
  color: #dedada;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* pengaturan header */
header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}
header video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
}
header .intro {
    z-index: 100;
    color: #cac9c9;
    text-align: center;
    position: relative;
    top: 50%;
}
header .intro h3 {
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.tombol {
    background-color: #84cf28;
    height: 40px;
    line-height: 42px;
    color: #000000;
    text-decoration: none;
    display:inline-block;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    border-radius: 10px;
}
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 50%;
    z-index: -1;
}
.tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1.7rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.tombol-menu .garis {
    height: 3px;
    background-color: #fff;
}
section {
  padding: 50px 0px 50px 0px;
}
section h3 {
  font-size: 30px;
}
section h3::after {
  content: "";
  border-bottom: 5px solid #c86b85;
  width: 52px;
  display: block;
  margin: 20px auto;
}
#aboutus {
  text-align: center;
}
nav.putih {
  background-color: #fff;
}
nav.putih .tombol-menu .garis {
  background-color: #333;
}
nav.putih ul li a {
  color: #333;
}
nav.logo img.hitam {
  display: none;
}
section.quote {
  background: url('Assets/Landing\ page.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #1e1c1c;
  font-size: 20px;
  font-style: italic;
  padding: 100px;
}
.tim {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: url('Assets/Landing\ page.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 50px ;
}
.tim h6 {
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  font-size: 18px;
  font-weight: bold;
}
.tim img {
  width: 70%;
  box-shadow: 0px -10px 30px #ccc;
  border-radius: 0px;
}
.tim div {
  text-align: center;
  width: 26%;
}
@media screen and (max-width: 991.98px) {
    .layar-dalam{
        width: 90%;
    }
    nav .menu ul {
        display: none;
        margin-top: 60px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    nav .menu ul li {
        width: 100%;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        line-height: 40px;
    }
    nav .menu ul li a {
        color: #333;
    }
    .tombol-menu {
        display: flex;
    }
}